@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.loading-spinner {
  width: 24px;
  height: 24px;
  border: 2px solid #ebedf0;
  border-radius: 50%;
  border-top-color: #40c463;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
